<h2>{{title}}</h2>
<!-- TODO:transformar o titulo em uma variavel para fazer o controle entre cadastro visualização e edição -->
<button class='btn btn-primary' (click)="voltarParaOListarContato()">Voltar</button>
<hr>
<form (submit)="salvarContato()" class="mt-3" [formGroup]="agendaForm">
  <div class='form-floating mb-3'>
    <input formControlName="nome" type="text" class="form-control" id="floatingInputNome" placeholder=" ">
    <label for="floatingInputNome">Nome</label>
  </div>
  <div class="form-floating mb-3">
    <input formControlName="sobreNome" type="text" class="form-control" id="floatingInputSobreNome" placeholder=" ">
    <label for="floatingInputSobreNome">Sobrenome</label>
  </div>
  <div class="form-floating mb-3">
    <input formControlName="email" type="text" class="form-control" id="floatingInputEmail" placeholder=" ">
    <label for="floatingInputEmail">E-Mail</label>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <div class="form-floating">
        <input formControlName="dataAniversario" type="date" class="form-control" id="floatingInputData">
        <label for="floatingInputData">DataAniversário</label>
      </div>
    </div>

  </div>
  <div class="row mb-3">
    <div class="col-6">
      <div class="form-floating">
        <textarea formControlName="observacao" class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled"></textarea>
        <label for="floatingTextareaDisabled">Comentários</label>
      </div>
    </div>
    <div class="mt-3">
      <button *ngIf="tipo !=='visualizar'" type="submit" class="btn btn-outline-primary">Enviar</button>
    </div>
  </div>



</form>
