<h2>Cadastro de Contato</h2>
<button class='btn btn-primary' (click)="voltarParaOListarContato()">Voltar</button>
<hr>
<form>
  <div class='form-floating mb-3'>
    <input type="text" class="form-control" id="floatingInputNome" placeholder=" ">
    <label for="floatingInputNome">Nome</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInputSobreNome" placeholder=" ">
    <label for="floatingInputSobreNome">Sobrenome</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInputEmail" placeholder=" ">
    <label for="floatingInputEmail">E-Mail</label>
  </div>

</form>
