<h2>{{title}}</h2>

<button class='btn btn-primary' (click)="voltarParaOListarContato()">Voltar</button>
<hr>
<form class="mt-3" [formGroup]="agendaForm">
  <div class='form-floating mb-3'>
    <input formControlName="nome" type="text" class="form-control" id="floatingInputNome" placeholder=" ">
    <label for="floatingInputNome">Nome</label>
  </div>

  <div class="form-floating mb-3">
    <input formControlName="sobreNome" type="text" class="form-control" id="floatingInputSobreNome" placeholder=" ">
    <label for="floatingInputSobreNome">Sobrenome</label>
  </div>

  <div class="form-floating mb-3">
    <input formControlName="email" type="text" class="form-control" id="floatingInputEmail" placeholder=" ">
    <label for="floatingInputEmail">E-Mail</label>
  </div>

  <div class="row mb-3">
    <div class="col-4">
      <div class="form-floating">
        <input formControlName="dataAniversario" type="date" class="form-control" id="floatingInputData">
        <label for="floatingInputData">DataAniversário</label>
      </div>
    </div>

  </div>
  <div class="row mb-3">
    <div class="col-6">
      <div class="form-floating">
        <textarea formControlName="observacao" class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled"></textarea>
        <label for="floatingTextareaDisabled">Comentários</label>
      </div>
    </div>

  </div>
<div  formArrayName="telefones">
  <div  class="row mb-3" *ngFor="let Telefone of telefones.controls; let i = index" [formGroupName]="i">
    <div  class="col-3 d-flex">
      <div class="input-group">
        <div class="form-floating">
          <input mask="(00) 00000-0000||(00) 0000-0000" formControlName="numero" type="text" class="form-control" id="numero" placeholder=" ">
          <label  for="numero">Telefone</label>
        </div>
        <button *ngIf="tipo !=='visualizar'" type="button" class="btn btn-outline-danger" (click)="excluirNumero(i)">X</button>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="tipo !=='visualizar'" class="row mb-3">
    <div class="col-3">
      <button (click)="adicionarTelefone()" class="btn btn-light">Add Telefone</button>
    </div>
  </div>
  <div *ngIf="tipo !=='visualizar'" class="mt-3">
    <button (click)="salvarContato()" type="button" class="btn btn-outline-primary">Enviar</button>
  </div>



</form>
